<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://raw.githubusercontent.com/lodash/lodash/4.17.15-npm/core.js"></script>
        <title>{{title}} | Augustas Mirinas</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body class="bg-slate-50 text-slate-700 text-lg tracking-wide">
        <div class="fixed top-0 w-full h-full">
            {% include "templates/background.html" %}
        </div>
 
        <div class="absolute w-full">
            {% include "templates/header.html" %}
            {{ content | safe }}
        </div>
    </body>

</html>